sudo: required
os: linux
dist: bionic

services:
  - docker
language: go
go:
  - 1.14.2

addons:
  apt:
    update: true

before_script:
  - sudo apt-get update && sudo apt-get install golint
  - sudo apt-get install -y rpm
  - wget https://github.com/aquasecurity/trivy/releases/download/v0.11.0/trivy_0.11.0_Linux-64bit.tar.gz
  - tar zxvf trivy_0.11.0_Linux-64bit.tar.gz  
  
script:
  # Installing and configuring dependencies
  - make deps
  # Includes formatting, linting and check unused packages
  - make gotasks
  # Build
  - make build
  # Running trivy check
  - make trivy-check

after_success:
  - make push
