apiVersion: litmuchaos.io/v1alpha1
kind: ChartServiceVersion
metadata:
  name: {{ .Category }} 
  version: {{ .Version }}
  annotations:
    categories: {{ .Category }}
spec:
  displayName: {{ .Category }} chaos
  categoryDescription: >
    {{ .Description }} 
  experiments:
  - {{ .Name }}
  keywords: 
  {{- range .Keywords }} 
    - "{{ . }}"
  {{- end}}
  maintainers: 
  {{- range .Maintainers }} 
    - name: {{ .Name }} 
      email: {{ .Email }}
  {{- end }}
  minKubeVersion: {{ .MinKubernetesVersion }} 
  provider: 
    name: {{ .Provider.Name }}
  links:
  {{- range .References }} 
    - name: {{ .Name }} 
      url: {{ .URL }}
  {{- end }} 
  icon:
    - url: 
      mediatype: ""
  chaosexpcrdlink: https://raw.githubusercontent.com/litmuschaos/chaos-charts/master/charts/{{ .Category }}/experiments.yaml