---
name: Release
on:
  create:
    tags:
      - '**'

jobs:
  pre-checks:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      # Install golang
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - uses: actions/checkout@v2

      #TODO: Add Dockerfile linting
      # Running go-lint
      - name: Checking Go-Lint
        run : |
          sudo apt-get update && sudo apt-get install golint
          make gotasks
  push:
    needs: pre-checks
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    steps:
      # Install golang
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - uses: actions/checkout@v2

      - name: Set Tag
        run: |
          TAG="${GITHUB_REF#refs/*/}"
          echo "TAG=${TAG}" >> $GITHUB_ENV
          echo "RELEASE_TAG=${TAG}" >> $GITHUB_ENV

      - name: Print Tag info
        run: |
          echo "RELEASE TAG: ${RELEASE_TAG}"
          echo "${RELEASE_TAG}" > ${{ github.workspace }}/tag.txt
          
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DNAME }}
          password: ${{ secrets.DPASS }}

      - name: Build and push
        uses: docker/build-push-action@v2
        env: 
          RELEASE_TAG: ${{ env.RELEASE_TAG }}
        with:
          push: true
          file: build/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: litmuschaos/go-runner:${{ env.RELEASE_TAG }},litmuschaos/go-runner:latest
