name: E2E
on:
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '**.md'
      - '**.yml'
      - '**.yaml'

jobs:

  Pod_Level_In_Serial_Mode:
    runs-on: ubuntu-latest
    steps:
    
      # Install golang
      - uses: actions/setup-go@v5
        with:
          go-version: 1.18
          
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          
      - name: Generating Go binary and Building docker image
        run: |
          make build-amd64

      - name: Install KinD
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.22.0/kind-linux-amd64
          chmod +x ./kind
          mv ./kind /usr/local/bin/kind

      - name: Create KinD Cluster
        run: |
          kind create cluster --config build/kind-cluster/kind-config.yaml

      - name: Configuring and testing the Installation
        run: |
          kubectl taint nodes kind-control-plane node-role.kubernetes.io/control-plane-
          kubectl cluster-info --context kind-kind
          kubectl wait node --all --for condition=ready --timeout=90s
          kubectl get nodes

      - name: Load image on the nodes of the cluster
        run: |
          kind load docker-image --name=kind litmuschaos/go-runner:ci

      - uses: actions/checkout@v2
        with:
          repository: 'litmuschaos/litmus-e2e'
          ref: 'master'
                   
      - name: Running Pod level experiment with affected percentage 100 and in series mode
        env:
          GO_EXPERIMENT_IMAGE: litmuschaos/go-runner:ci
          EXPERIMENT_IMAGE_PULL_POLICY: IfNotPresent
          KUBECONFIG: /home/runner/.kube/config
        run: |
          make build-litmus
          make app-deploy
          make pod-affected-perc-ton-series

      - name: Deleting KinD cluster
        if: always()
        run: kind delete cluster

  Pod_Level_In_Parallel_Mode:
    runs-on: ubuntu-latest
    steps:    
    
      # Install golang
      - uses: actions/setup-go@v5
        with:
          go-version: 1.18
          
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          
      - name: Generating Go binary and Building docker image
        run: |
          make build-amd64

      - name: Install KinD
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.22.0/kind-linux-amd64
          chmod +x ./kind
          mv ./kind /usr/local/bin/kind

      - name: Create KinD Cluster
        run: |
          kind create cluster --config build/kind-cluster/kind-config.yaml

      - name: Configuring and testing the Installation
        env:
          KUBECONFIG: /home/runner/.kube/config
        run: |
          kubectl taint nodes kind-control-plane node-role.kubernetes.io/control-plane-
          kubectl cluster-info --context kind-kind
          kubectl wait node --all --for condition=ready --timeout=90s
          kubectl get nodes

      - name: Load image on the nodes of the cluster
        run: |
          kind load docker-image --name=kind litmuschaos/go-runner:ci

      - uses: actions/checkout@v2
        with:
          repository: 'litmuschaos/litmus-e2e'
          ref: 'master'
          
      - name: Running Pod level experiment with affected percentage 100 and in parallel mode
        env:
          GO_EXPERIMENT_IMAGE: litmuschaos/go-runner:ci
          EXPERIMENT_IMAGE_PULL_POLICY: IfNotPresent
          KUBECONFIG: /home/runner/.kube/config
        run: |
          make build-litmus
          make app-deploy
          make pod-affected-perc-ton-parallel

      - name: Deleting KinD cluster
        if: always()
        run: kind delete cluster

  Node_Level_Tests:
    runs-on: ubuntu-latest
    steps:    
    
      # Install golang
      - uses: actions/setup-go@v5
        with:
          go-version: 1.18
          
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          
      - name: Generating Go binary and Building docker image
        run: |
          make build-amd64

      - name: Install KinD
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.22.0/kind-linux-amd64
          chmod +x ./kind
          mv ./kind /usr/local/bin/kind

      - name: Create KinD Cluster
        run: |
          kind create cluster --config build/kind-cluster/kind-config.yaml

      - name: Configuring and testing the Installation
        run: |
          kubectl taint nodes kind-control-plane node-role.kubernetes.io/control-plane-
          kubectl cluster-info --context kind-kind
          kubectl wait node --all --for condition=ready --timeout=90s
          kubectl get nodes

      - name: Load image on the nodes of the cluster
        run: |
          kind load docker-image --name=kind litmuschaos/go-runner:ci

      - uses: actions/checkout@v2
        with:
          repository: 'litmuschaos/litmus-e2e'
          ref: 'master'
          
      - name: Setup litmus and deploy application
        env:
          KUBECONFIG: /home/runner/.kube/config
        run: |
          make build-litmus
          make app-deploy
          
      - name: Running Node Drain experiments
        env:
          GO_EXPERIMENT_IMAGE: litmuschaos/go-runner:ci        
          EXPERIMENT_IMAGE_PULL_POLICY: IfNotPresent        
          KUBECONFIG: /home/runner/.kube/config
        run: make node-drain
        
      - name: Running Node Taint experiments
        if: always()
        env:
          GO_EXPERIMENT_IMAGE: litmuschaos/go-runner:ci        
          EXPERIMENT_IMAGE_PULL_POLICY: IfNotPresent
          KUBECONFIG: /home/runner/.kube/config
        run: make node-taint
        
      - name: Deleting KinD cluster
        if: always()
        run: |
          kubectl get nodes
          kind delete cluster
